.logo-header{
    background-color: rgb(247, 103, 7);
    align-items: center;
    text-align: center;
    padding: 1rem;
}
.menu-item{
    display: inline;
}
.menu-item+.menu-item {
    padding-left: 2rem;
}
.menu{
    background-color: rgb(255, 102, 13);
    text-align: center;
    padding: 1rem;
}
.menu a{
    text-decoration: none;
    color: white;
}
a .home-page{
    text-decoration: underline;
}