*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

section{
    padding-bottom: 20px;
}

.header{
    background-color: rgba(39, 47, 84, 1);
    margin-bottom: 20px;
}

a:hover{
    text-decoration: underline;
}

h3{
    /* text-decoration: underline; */
}

.logo-header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
}

nav li{
    padding-right: 2rem;
    display: inline-block;
}

.input-text{
    width: 220px;
    height: 30px;
}

.input-search{
    border: 1px solid white;
    background-color: rgba(39, 47, 84, 1);
    color: white;
    width: 110px;
    height: 30px;
}

li a{
    color: white;
}

.container h3{
    color: rgb(184, 18, 18);
}

.banner img{
    width: 100%;
}

.main-content{
    border: 1px solid;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px 10px 10px;
}

.image-main{
    padding-left: 20px;
}

.content{
    padding-right: 20px;
}

.item-info{
    border: 1px solid;
}

.info-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.image-info{
    padding: 10px;
    text-align: center;
}

.footer{
    background-color: rgba(39, 47, 84, 1);
}

.content-footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

body{
    width: 980px;
    text-align: center;
}
